


        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/assets/img/carousel-1.jpg" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Cook with what <span>you already have at home!</span> </h1>
                            <p>
                                How to find culturally diverse recipes based on what you already have at home?
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" routerLink="/search">Search Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->




<!-- Booking Start -->
        <div class="booking">
            <div class="container">
                <div class="row align-items-center">
                        <div class="booking-content center">
                            <div class="section-header">

                                <p>Use  RecipeQuest, reduce food waste and money waste !</p>
                            </div>
                            <div class="about-text">
                                <!-- step  -->
                                    <div class="container mt-5 mb-5">
                                        <h1 class="text-center">How to find recipes <span class="highlight"> based on what you already have at home?</span></h1>
                                        <div class="row mt-5">
                                            <!-- one  -->
                                            <div class="col-lg-4 mt-2">
                                                <div class="stepBox">
                                                    <h1>1</h1>
                                                    <p>Create account</p>
                                                </div>
                                            </div>
                                    <!-- two -->
                                            <div class="col-lg-4 mt-2">
                                                <div class="stepBox">
                                                    <h1>2</h1>
                                                    <p>Select ingredients</p>
                                                </div>
                                            </div>
                                            <!-- three  -->
                                            <div class="col-lg-4 mt-2">
                                                <div class="stepBox">
                                                    <h1>3</h1>
                                                    <p>Search for recipes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                        <div class="section-header">
    <h2>Ever opened your fridge and/or cupboards and had no idea what to make? <br></h2>

    <h2> Are you sick of seeing rotting lettuce and bendy carrots?</h2>
      <br>
      <h1>Then, this app is for you!</h1> <br>
      <h2>RecipeQuest is an application that aims to reduce food waste by suggesting diverse recipes based on what you already have at home.
      </h2>
</div>
                </div>
            </div>
        </div>
        <!-- Booking End -->
