.stepBox
{
    background-color: #000;
    padding: 20px 20px;
    border-radius: 30px;
    text-align: center;
}
.stepBox h1
{
    font-size: 50px;
    font-weight: bold;
    color: #fbaf32;
}
.stepBox p
{
    font-size: 20px;
    color: #fff;
}

.container-about{
  text-align: center;
  font-size: larger;
  width: 90%;
  position: relative;
  margin-left: 5%;
}

