@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.footer{
    background-color: #212121;
    padding:  25px 0;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: rgb(251, 175, 50);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col a {
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}
.footer-col a:hover{
    color: #FFFFFF;
    padding-top: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-left:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(251, 175, 50);
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:  #0D1821;
    background-color: #FFFFFF;
    padding: 0;
}
.footer-bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #FFFFFF;
}
@media(max-width: 700px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
}
}
@media(max-width: 500px){
    .footer-col{
        width: 100%;
    }
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;

}
