
<footer class="footer">
            <div class="container1">
                <div class="row">
                    <div class="footer-col">
                        <a href=""><h4>Home</h4></a>
                    </div>
                    <div class="footer-col">
                        <a href="/search"><h4>Search</h4></a>
                    </div>
                    <div class="footer-col">
                      <a href="/login"><h4>Log in</h4></a>
                  </div>

                  <div class="footer-col">
                    <a href="/signup"><h4>Sign Up</h4></a>
                </div>


                    <div class="footer-col">
                        <a href=""><h4>Follow us</h4></a>
                        <div class="social-links">
							<a href="#"><i  class = "fab fa-facebook" ></i></a>
                            <a href="#"><i  class = "fab fa-twitter" ></i></a>
                            <a href="#"><i  class = "fab fa-instagram" ></i></a>
                            <a href="#"><i  class = "fab fa-linkedin" ></i></a>
                        </div>
                    </div>

                </div>
                <div class="footer-bottom">
                    <p>copyright &copy; 2022 RecipeQuest: All rights reseved</p>
                </div>

            </div>

    </footer>
