<div class="container ">
	<div class="row">
		<div class="col-lg-12 mt-2 mb-2">
                <a class="my-2 mt-3">Selected items: </a> <br>
                <li *ngFor="let i of data1" class="mx-2 my-5 mt-3 col-lg-2 ingredient">{{i}}</li>

        </div>
	</div>
</div>

<div class="container ">
<div class="col-lg-12 mt-2 mb-2"> <a class="my-2 mt-3">Recommendations: </a> <br> </div>
<div class="row">
  <div *ngFor="let recipe of data; let i = index" class="col-md-4">
        <div >

          <img src="{{recipe.image}}" alt="Snow" style="width:100%" class="my-2">

          <div class="row mt-2 mb-2">
            <div class="col-lg-8 ">
              <button class="form-control" (click)="travel(i)"> {{recipe.title}} </button>
            </div>
            <div class="col-lg-4 mt-2">
              <div class="row text-primary">
                {{recipe.likes}} Like
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
</div>


