

<div class="carousel">
  <div class="container-fluid">
      <div class="owl-carousel">
          <div class="carousel-item">
              <div class="carousel-img">
                  <img src="/assets/img/carousel-1.jpg" alt="Image">
              </div>


                  <div class=" carousel-text container mt-5 mb-5">
                    <h1 class="dark-text">Log In</h1>
                    <form class="col-md-8">
                        <div class="row">
                            <div class="col-md-12 mt-2 mb-2">
                                <input type="email" class="form-control" placeholder="Enter Email " id="email" name="email" [(ngModel)]="email">
                            </div>
                            <div class="col-md-12 mt-2 mb-2">
                                <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password" [(ngModel)]="password">
                            </div>
                            <h5 class="mt-2 col text-danger" *ngIf="errorB">Error Logging in</h5>
                            <div class="col-md-12"> 
                                <button class="col-md-12 btn btn-md btn-dark" (click)="hello()">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>

                  </div>
              </div>
          </div>
      </div>


