<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-lg-12 mt-2 mb-2">
			<div class="row col-lg-12">
                <h1 class="">  Enter here what you already have at home and select the ingredients </h1>
				<div class="col-lg-10 mt-5">

                	<input type="text" class=" form-control" placeholder=" Enter What you have " [(ngModel)]="ingredient">
            	</div>
                <button type="button" class="col-lg-2 mt-5 btn btn-colour btn-md" (click)="addElement()">Add Ingredient</button>
            </div>
                <h5 class="mt-2 col text-danger">{{message}}</h5>
                <h3 class="mt-5"> Selected Ingredients: </h3>
                <ul class="ingredients row ml-5" >
                	<li class="ingredient mt-1 mx-1 col-lg-2" *ngFor="let ing of Ingredients;"> {{ing}} </li>
                </ul>

                <button type="button" class="col-lg-2 offset-lg-5 mt-3 btn btn-colour btn-lg" (click)="travel()">Search</button>

        </div>
	</div>
</div>
