.btn-colour{
	background-color: rgb(251, 175, 50);
}


.ingredient{
	display: inline-block;
	background-color: #fcba03;
	opacity: 0.7;
	color: black;
	border-radius: 20px;
	padding: 0.5%;
	text-align: center;
}

.ingredients{

}