<div class="container1 mt-5 mb-5">
	<div class="row">
	    <h1 class="text-left font-italic">{{data.title}}</h1>

	    <img class="col-lg-7" src="{{data.image}}">
	</div>
	<div class="mt-3 col-lg-7 reviews">
		<span class="mt-5 likes">{{data.likes}} <i class="fa-solid fa-thumbs-up"></i></span>
		<app-rating class="col offset-8" ></app-rating>
	</div>

	<div class="col mt-5">
		<h2> Ingredients: </h2>
		<ul>

			<li class="row d-flex" *ngFor="let ingredient of data.usedIngredients">
				{{ingredient.original}}
				<span class="align-self-end"><i class="fa-solid fa-check" style="color:gold;"></i> Already Have it</span>
			</li>
			<hr class="col-lg-7">
			<li class="row" *ngFor="let ingredient of data.missedIngredients">
			{{ingredient.original}}
			<span><i class="fa-solid fa-xmark" style="color:red;"></i> You don't have</span>
			</li>
			
		</ul>


	</div>
</div>