<header class="header">


  <img src="/assets/img/logo.png" class="logo">
            <nav>
              <ul class="links">
                <div class="link">
                <a href="">Home</a>
                </div>
                <div class="link">
                <a href="/search">Search</a>
                </div>

              </ul>
            </nav>

            <div class="login" *ngIf="!dataBool"><a href="/login"><button>Login</button></a></div>
            <div class="signup" *ngIf="!dataBool"><a  href="/signup"><button>Sign Up</button></a></div>
            <div class="col-lg-2 welcome" *ngIf="dataBool">Hello {{cookieData.firstName}} {{cookieData.lastName}}!</div>
            <div class="login" *ngIf="dataBool"> <a href=""><button (click)="logout()">Log out</button></a></div>

        </header>
