@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a, button {
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;

}

.header{
  display: flex;
  align-items: center;
  max-height: 100px;
  padding: 20px 10px;
  background-color: #212121;
  opacity: 0.95;
  padding-right: 10%;

}
.logo{
  width: 7.5%;
  cursor: pointer;
}
.links{
    margin-left: 75%;
  display: flex;
  justify-content: space-evenly;
    align-items: center;
  list-style: none;
}

.links  li a {
  transition: all 0.3s ease 0s;


}
.links  a:hover{
color: #EAE151;
cursor: pointer;
}

button{
  justify-content: right;
  width: 111px;
  padding: 9px 25px;
  background-color: rgb(251, 175, 50);
  border-radius: 50px;
  border:none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover{
  background-color: rgba(234,225,81,0.7);

}
nav{
  width: 100%;
}
.login{

padding-right: 20px;

}
.link:hover{
  transform: scale(1.3);
}


.welcome{
  color: gold;
}