





<div class="carousel">
  <div class="container-fluid">
      <div class="owl-carousel">
          <div class="carousel-item">
              <div class="carousel-img">
                  <img src="/assets/img/carousel-1.jpg" alt="Image">
              </div>



<div class="carousel-text container mt-5 mb-5">
  <h1>Sign Up</h1>
  <form class="col-lg-8">
      <div class="row">
          <div class="col-lg-12 mt-2 mb-2">
              <input type="text" class="form-control" placeholder="First Name" id="firstName" name="fistName" [(ngModel)]="user.firstName">
          </div>

          <div class="col-lg-12 mt-2 mb-2">
              <input type="text" class="form-control" placeholder="Last Name" id="lastName" name="lastName" [(ngModel)]="user.lastName">
          </div>

          <div class="col-lg-12 mt-2 mb-2">
              <input type="email" class="form-control" placeholder="Mail Adress " id="email" name="email" [(ngModel)]="user.email">
          </div>
          <div class="col-lg-12 mt-2 mb-2">
              <input type="passwordu" class="form-control" placeholder="Password" id="password" name="password" [(ngModel)]="user.password">
          </div>
          <div class="col-lg-12 mt-2 mb-2">
            <input type="passwordu" class="form-control" placeholder="Confirm Password" >
        </div>
          <h5 class="mt-2 col text-danger" *ngIf="errorB">{{message}}</h5>
          <div class="col-lg-12">
              <button class=" col-lg-12  btn btn-md btn-dark" (click)="signup()">Create account</button>
          </div>



      </div>
  </form>
</div>

                  </div>
              </div>
          </div>
      </div>
